In [ ]:
from delphi_epidata import Epidata
# Fetch data
# how to import the library and fetch national FluView data for epiweeks 201440 and 201501-201510 (11 weeks total).


res = Epidata.fluview(['nat'], [201440, Epidata.range(201501, 201510)])
print(res['result'], res['message'], len(res['epidata']))

In [ ]:

res = Epidata.fluview(['hhs1'], [201440, Epidata.range(201501, 201510)])
res

In [2]:

def crawl_data_to_feature_specific(startepiweek, endepiweek, regions):
    '''
    This function crawls data from the delphi epidata API and stores it in a csv file.

    :param startepiweek: the first epiweek to crawl
    :param endepiweek: the last epiweek to crawl
    :param regions: the list of regions to crawl

    return: a dataframe of the data
    '''
    import pandas as pd
    from delphi_epidata import Epidata
    region_dic={
        'nat':0,
        'hhs1':1,
        'hhs2':2,
        'hhs3':3,
        'hhs4':4,
        'hhs5':5,
        'hhs6':6,
        'hhs7':7,
        'hhs8':8,
        'hhs9':9,
        'hhs10':10,

    }

    filename = regions[0]+'_'+str(startepiweek)+'_'+str(endepiweek)+'.feather'
    res = Epidata.fluview(regions, [Epidata.range(startepiweek, endepiweek)])
    epidata = res['epidata']
    df = pd.DataFrame(columns=['Season', 'Epidemic_week', 'HHS_region', 'wILI'])
    for i in epidata:   
        # print(i)
        epiWeek = str(i['epiweek'])
        Year = epiWeek[0:4]
        Week = epiWeek[4:6]
        if int(Week) <= 20:
            preYear = int(Year) - 1
            Season = str(preYear) + "/" + str(Year)
        elif int(Week) >= 40:
            Season = str(Year) + "/" + str(int(Year) + 1)
        else:
            continue
        df = df.append({'Season': Season, 'Epidemic_week': epiWeek, 'HHS_region': region_dic[i['region']], 'wILI': i['wili']}, ignore_index=True)
    df = df.sort_values(by=['Epidemic_week','HHS_region']).reset_index(drop=True)
    # store the data as feather
    df.to_feather(filename)
    return df

def crawl_data_to_feature_all(startepiweek, endepiweek):
    '''
    This function crawls data from the delphi epidata API and stores it in a feather file.

    :param startepiweek: the first epiweek to crawl
    :param endepiweek: the last epiweek to crawl   
    :return: a dataframe of all the data

    '''
    import pandas as pd
    from delphi_epidata import Epidata
    regions = ['nat','hhs1','hhs2','hhs3','hhs4','hhs5','hhs6','hhs7','hhs8','hhs9','hhs10']
    df = pd.DataFrame(columns=['Season', 'Epidemic_week', 'HHS_region', 'wILI'])
    for i in regions:
        df1 = crawl_data_to_feature_specific(startepiweek, endepiweek, [i])
        df = pd.concat([df, df1], ignore_index=True)
    df = df.sort_values(by=['Epidemic_week','HHS_region']).reset_index(drop=True)
    # store the data as feather
    df.to_feather('all_' + str(startepiweek) + '_' + str(endepiweek) + '.feather')
    return df

In [3]:
df1 = crawl_data_to_feature_specific(201440, 201510, ['nat'])
df1

       Season Epidemic_week HHS_region     wILI
0   2014/2015        201440          0  1.16191
1   2014/2015        201441          0  1.30905
2   2014/2015        201442          0  1.37072
3   2014/2015        201443          0  1.43373
4   2014/2015        201444          0  1.42791
5   2014/2015        201445          0  1.61605
6   2014/2015        201446          0  1.65976
7   2014/2015        201447          0  2.05459
8   2014/2015        201448          0  2.53541
9   2014/2015        201449          0  2.54253
10  2014/2015        201450          0  3.60563
11  2014/2015        201451          0  4.90976
12  2014/2015        201452          0  5.98221
13  2014/2015        201453          0  5.47421
14  2014/2015        201501          0  4.21374
15  2014/2015        201502          0  4.21022
16  2014/2015        201503          0  4.25968
17  2014/2015        201504          0  3.97761
18  2014/2015        201505          0  3.63443
19  2014/2015        201506          0  3.26527
20  2014/2015        201507          0  2.93083
21  2014/2015        201508          0  2.54474
22  2014/2015        201509          0  2.47227
23  2014/2015        201510          0  2.35665

In [13]:
df1 = crawl_data_to_csv_all(200901, 202218)
df1

In [14]:
df1

         Season Epidemic_week HHS_region      wILI
0     2008/2009        200901          0  1.471378
1     2008/2009        200901          1  0.628376
2     2008/2009        200901          2  1.657290
3     2008/2009        200901          3  1.664776
4     2008/2009        200901          4  1.181011
...         ...           ...        ...       ...
4934  2021/2022        202218          6  2.209420
4935  2021/2022        202218          7  1.428680
4936  2021/2022        202218          8  2.890620
4937  2021/2022        202218          9  1.934710
4938  2021/2022        202218         10  2.019860

[4939 rows x 4 columns]

In [6]:
def randomly_select_fluseason(probobilility_dic,season_features_path):
    '''
    randomly select a flu season based on the probability_dic

    :param probobilility_dic: a dictionary of flu season and its probability(sum of all probabilility should be 1)
    :param season_features_path: the path of the season features csv file
    
    :return: a dataframe of the flu season features
    '''
    import random
    import numpy as np
    import pandas as pd
    features = pd.read_feather(season_features_path)

    if sum(probobilility_dic.values()) != 1:
        raise ValueError('probobilility_dic should sum to 1')
    else:       
        keys = np.array(list(probobilility_dic.keys()))
        values = np.array(list(probobilility_dic.values()))
        season = np.random.choice(keys, 1,p=values)[0]
        features = features[features['Season'] == season]
        return features

    
probobilility_list = {"2010/2011":0.9,"2011/2012":0.1}
print(probobilility_list.keys())
randomly_select_fluseason(probobilility_list,'nat_200901_202218.feather')

dict_keys(['2010/2011', '2011/2012'])

       Season Epidemic_week  HHS_region     wILI
53  2010/2011        201040           0  1.10939
54  2010/2011        201041           0  1.24341
55  2010/2011        201042           0  1.25726
56  2010/2011        201043           0  1.25734
57  2010/2011        201044           0  1.43414
58  2010/2011        201045           0  1.51838
59  2010/2011        201046           0  1.61617
60  2010/2011        201047           0  1.84378
61  2010/2011        201048           0  1.72535
62  2010/2011        201049           0  1.87923
63  2010/2011        201050           0  2.33710
64  2010/2011        201051           0  3.03533
65  2010/2011        201052           0  3.13600
66  2010/2011        201101           0  2.53336
67  2010/2011        201102           0  2.91288
68  2010/2011        201103           0  3.44497
69  2010/2011        201104           0  4.16185
70  2010/2011        201105           0  4.55159
71  2010/2011        201106           0  4.46504
72  2010/2011        201107           0  4.55124
73  2010/2011        201108           0  4.08220
74  2010/2011        201109           0  3.38812
75  2010/2011        201110           0  2.99142
76  2010/2011        201111           0  2.61542
77  2010/2011        201112           0  2.09065
78  2010/2011        201113           0  1.86146
79  2010/2011        201114           0  1.61377
80  2010/2011        201115           0  1.42199
81  2010/2011        201116           0  1.33820
82  2010/2011        201117           0  1.19995
83  2010/2011        201118           0  1.14889
84  2010/2011        201119           0  1.12194
85  2010/2011        201120           0  1.06712

In [1]:
def random_generate_fluseason(startyear,endyear,features,regions=None):
    '''
    randomly generate a flu season

    :param startyear: the start year of the flu season
    :param endyear: the end year of the flu season
    :param features: the features of the flu season
    :param regions: the list of regions to generate the flu season[0,1]
    '''
    # choose the region from features
    import random
    import numpy as np
    import pandas as pd
    if regions is None:
        regions = [0,1,2,3,4,5,6,7,8,9,10]
    features = features[features['HHS_region'].isin(regions)]  
    year33 = [2009,2010,2011,2012,2013,2015,2016,2017,2018,2019,2021,2022,2023,2024]
    year34 = [2014,2020]
    year33_count = []
    year34_count = []
    for i in range(startyear,endyear+1):
        if i in year33:
            year33_count.append(i)
        elif i in year34:
            year34_count.append(i)
        else:
            continue
    year33_prob = len(year33_count)/(len(year33_count)+len(year34_count))
    year34_prob = len(year34_count)/(len(year33_count)+len(year34_count))
    print(year33_prob,year34_prob)
    random_year = np.random.choice([33,34],1,p=[year33_prob,year34_prob])[0]
    def get_season(is33year,yearlist,df):
        teamdf = pd.DataFrame(columns=['HHSRegion','EpidemicWeek','Season','wILI'])
        if is33year:
            epiweeks = np.array(list(range(1,21))+list(range(40,54)))
        else:
            epiweeks = np.array(list(range(1,21))+list(range(40,55)))
        for r in regions:
            df1 = df[df['HHS_region'] == r]
            for epiweek in epiweeks:
                yearweek = []
                for i in yearlist:
                    if epiweek < 10:
                        yearweek.append(str(i)+'0'+str(epiweek))
                    else:
                        yearweek.append(str(i)+str(epiweek))
                df2 = df1[df1['Epidemic_week'].isin(yearweek)]
                # randomly select a row from the dataframe
                if len(df2) == 0:
                    continue
                df2 = df2.reset_index(drop=True)
                
                row_index = random.randint(0,len(df2)-1)
                row = df2.iloc[row_index]
                teamdf = teamdf.append({'HHSRegion':r,'EpidemicWeek':epiweek,'Season':row['Season'],'wILI':row['wILI']},ignore_index=True)
        return teamdf



    if random_year == 33:
        df = get_season(True,year33_count,features)
    elif random_year == 34:
        df = get_season(False,year34_count,features)
    return df
    
import pandas as pd
features = pd.read_feather('all_200901_202218.feather')
df = random_generate_fluseason(2014,2020,features,[0,1])
df

0.7142857142857143 0.2857142857142857

   HHSRegion EpidemicWeek     Season      wILI
0          0            1  2014/2015  4.213740
1          0            2  2014/2015  4.210220
2          0            3  2017/2018  6.517590
3          0            4  2015/2016  2.251120
4          0            5  2016/2017  4.436010
..       ...          ...        ...       ...
61         1           48  2015/2016  0.807851
62         1           49  2017/2018  1.657700
63         1           50  2017/2018  1.822670
64         1           51  2015/2016  1.383020
65         1           52  2016/2017  1.418610

[66 rows x 4 columns]

In [44]:
def modelweek(E):
   from epiweeks import Week
   cdc_start = Week(1946,27)
   modelweek = E - cdc_start
   return modelweek

from epiweeks import Week
# modelweek(Week(2020,1))
Week(2020,1)

Week(2020, 1, CDC)

In [37]:
df.to_csv('random_season.csv')

In [21]:
import pandas as pd
import numpy as np
np.array(list(range(1,21))+list(range(40,54)))

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53])